.logo {
    height: auto;
    height: auto;
}

.searchInput:focus {
    background-color: #282828;
    border-radius: 0;
    color: #ffffff;
    border: none;
    box-shadow: none;
}

.searchInput {
    background-color: #282828;
    border-radius: 0;
    color: #ffffff;
    border: none;
    caret-color: #90e0db;
    font-size: 25px;
    line-height: 44px;
    letter-spacing: -0.005em;
}

.btn-outline-warning {
    color: #90e0db;
    background-color: transparent;
    background-image: none;
    border-color: #90e0db;
}

.btn-outline-warning:hover {
    background-color: #90e0db;
    color: black;
}
