img {
    width: 170px;
    height: 290px;
}

.movie {
    height: 400px;
    max-height: 430px;
    width: 18rem;
    background-color: #282828;
    color: white;
}

.movie:hover {
    border-bottom: 4px solid gray;
    cursor: pointer;
}
.year {
    background-color: #9d9d9d;
    color: black;
}
