body {
    height: 500px;
    background-color: #091212;
    text-align: center;
}

input {
    width: 100px;
}
.logo {
    height: auto;
    height: auto;
    border-radius: 10%;
}
h2 {
    color: white;
}
.movies {
    background-color: #0f0f0f;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}
.search:focus {
    background-color: #282828;
    border-radius: 0;
    color: #ffffff;
    border: none;
}
.search {
    background-color: #282828;
    border-radius: 0;
    color: #535353;
    border: none;
}
