body {
    height: 500px;
    background-color: #40667e;
    text-align: center;
}

input {
    width: 100px;
}
.logo {
    height: auto;
    height: auto;
    border-radius: 10%;
}
.movies {
    background-color: #aebbc3;
}
h2 {
    color: black;
}
